amqp==2.2.2
asn1crypto==0.23.0
bcrypt==3.1.4
billiard==3.5.0.3
cachetools==2.0.1
celery==4.1.0
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
click==6.7
cryptography==2.1.4
decorator==4.1.2
dotmap==1.2.20
Flask==0.12.2
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jumpserver-python-sdk==0.0.16
kombu==4.1.0
MarkupSafe==1.0
paramiko==2.1.2
pyasn1==0.4.2
pycparser==2.18
PyNaCl==1.2.0
pyte==0.7.0
python-gssapi==0.6.4
pytz==2017.3
requests==2.18.4
six==1.11.0
urllib3==1.22
vine==1.1.4
wcwidth==0.1.7
Werkzeug==0.12.2
